<html>
<head>
    <link rel="stylesheet" href="css/background.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
      <a href="#" class="navbar-brand" href="/">My Blog</a>
      <div class="d-flex ml-auto">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#globalNavbar" aria-controls="globalNavbar" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
      </div>
      <div class="collapse navbar-collapse" id="globalNavbar">
        <form class="form-inline form-navbar my-2 my-lg-0 order-2" action="#">
          <input class="form-control" name="s" type="text" placeholder="Search"/>
        </form>
        <ul class="navbar-nav mr-auto order-1">
          <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Categories</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <div class="navbar-collapse navbar-top-collapse">
              <ul id="menu-top-menu" class="nav navbar-nav">
                <li id="menu-item-601" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-601"><a title="Admin &amp; Dashboard" href="{% url 'home' %}">Home</a></li>
                <li id="menu-item-603" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-603"><a title="Landing &amp; Corporate" href="{% url 'new' %}">글쓰기</a></li>
                <li id="menu-item-1537" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-1537"><a title="Application" href="#">Application</a></li>
                <li id="menu-item-602" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-602"><a title="E-Commerce &amp; Retail" href="#">E-Commerce &#038; Retail</a></li>
                <li id="menu-item-1538" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-1538"><a title="Portfolio &amp; Blog" href="{% url 'portfolio' %}">Portfolio &#038; Blog</a></li>
                <li id="menu-item-1539" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-1539"><a title="Specialty" href="#">Specialty</a></li>
              </ul>
            </div>
          </div>
          </li>
          <li class="nav-item"><a class="nav-link" href="{% url 'portfolio' %}">Portfolio</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Example</a></li>
        </ul>
        <!-- templates/base.html -->
        <ul class="navbar-nav d-none d-lg-flex ml-2 order-3">
          {% if user.is_authenticated %}
          <li class="nav-item"><a class="nav-link" href="#">{{user.username}} 님!</a></li>
          <li class="nav-item"><a class="nav-link" href="javascript:{document.getElementById('logout').submit()}">로그아웃</a></li>
          <form id="logout" method="POST" action="{%url 'logout'%}">
              {% csrf_token %} <input type="hidden" />
          </form>
          {% else %}
          <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Sign in</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'signup' %}">Sign up</a></li>
          {% endif %}
        </ul>
        <!-- 반응형 -->
        <ul class="navbar-nav d-lg-none">
          <li class="nav-item-divider"></li>
          {% if user.is_authenticated %}
          <li class="nav-item"><a class="nav-link" href="#">{{user.username}} 님!</a></li>
          <li class="nav-item"><a class="nav-link" href="javascript:{document.getElementById('logout').submit()}">로그아웃</a></li>
          {% else %}
          <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Sign in</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'signup' %}">Sign up</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
    </nav>
    <div class="container">
      {% block body%}
      {% endblock %}
    </div>
    </body>

</html>