{% extends 'base.html' %}
{% block body %}
<div class="container"></div>
<h1>세부 내용을 알려드립니다</h1>
    <br><br>
    <h1>{{detail.title}}</h1>
    <p>{{detail.pub_date}}</p>
    <p>{{detail.body}}</p>
</div>

<div class="container">
<form action="{% url 'comment_add' detail.id %}" method="POST">
    {% csrf_token %}
    내용 : <input type="text" name="body">
    <input type="submit" value="제출">
</form>


{% for comment in detail.comments.all %}
    {{comment.user.username}} : {{comment.body}}
    {% if comment.user == request.user %}
    <a href="{% url 'comment_edit' comment.id %}">편집</a>
    <a href="javascript: {document.getElementById('delete').submit()}">삭제</a>
    <form id = "delete" method="POST" action="{% url 'comment_delete' comment.id %}">
        {% csrf_token %} <input type="hidden" />
    </form>
    {% endif %}
    <br>
{% endfor %}
</div>
{% endblock %}